@import url('https://fonts.googleapis.com/css?family=Bungee|Cookie|Sacramento|Tangerine');
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
div.cont_withou_p,
section.content_site,
section.block_publi_left,
section.block_publi_right {
  padding-right: 0;
  padding-left: 0;
}
article.history_magic_ng img.magic_image_about {
  width: 100%;
}
#menu_items_links,
.nav_social_links {
  padding-left: 0;
}
#menu_items_links li,
.nav_social_links li {
  position: relative;
  display: inline-block;
}
#menu_items_links li a:before,
.nav_social_links li a:before {
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  font-size: 40px;
  font-family: 'fontAwesome';
  color: black;
  content: '\f08e';
  border: 2px solid gold;
}
#menu_items_links li a[href*="facebook.com"]:before,
.nav_social_links li a[href*="facebook.com"]:before {
  content: 'facebook';
}
#menu_items_links li a[href*="youtube.com"]:before,
.nav_social_links li a[href*="youtube.com"]:before {
  content: '\f081';
}
#menu_items_links li a[href*="twitter.com"]:before,
.nav_social_links li a[href*="twitter.com"]:before {
  content: '\f099';
}
#menu_items_links li a[href*="instagram.com"]:before,
.nav_social_links li a[href*="instagram.com"]:before {
  content: '\f16d';
}
#menu_items_links li a[href*="web.whatsapp.com"]:before,
.nav_social_links li a[href*="web.whatsapp.com"]:before {
  content: '\f232';
}
footer #footer_content,
footer #footer_banner {
  border: 1px solid gold;
}
footer #footer_content {
  min-height: 200px;
  height: 100%;
}
footer #footer_content .box_foo_1 {
  color: grey;
}
footer #footer_content .box_foo_2 {
  color: red;
}
footer #footer_content .box_foo_3 {
  color: gold;
}
@media screen and (min-width: 1200px) {
  /*añadir estilos nuevos */
}
@media screen and (max-width: 1200px) {
  .content_main {
    padding-left: 0;
    padding-right: 0;
  }
  .content_main .block_publi_left,
  .content_main .block_publi_right {
    display: none;
  }
  /*añadir estilos nuevos */
}
@media screen and (max-width: 991px) {
  .block_publi_left,
  .block_publi_right {
    display: none;
  }
  /*añadir estilos nuevos */
}
@media screen and (max-width: 767px) {
  /*añadir estilos nuevos */
}
@media screen and (max-width: 640px) {
  /*añadir estilos nuevos */
}
@media screen and (max-width: 480px) {
  /*añadir estilos nuevos */
}
@media screen and (max-width: 320px) {
  /*añadir estilos nuevos */
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
