@import url('https://fonts.googleapis.com/css?family=Bungee|Cookie|Sacramento|Tangerine');
div.cont_withou_p,
section.content_site,
section.block_publi_left,
section.block_publi_right {
  padding-right: 0;
  padding-left: 0;
}
article.history_magic_ng img.magic_image_about {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  /*añadir estilos nuevos */
}
@media screen and (max-width: 1200px) {
  .content_main .block_publi_left,
  .content_main .block_publi_right {
    display: none;
  }
  div.cont_withou_p,
  section.content_site,
  section.block_publi_left,
  section.block_publi_right {
    padding-right: 15px;
    padding-left: 15px;
  }
  /*añadir estilos nuevos */
}
@media screen and (max-width: 991px) {
  .content_main .block_publi_left,
  .content_main .block_publi_right {
    display: none;
  }
  /*añadir estilos nuevos */
}
@media screen and (max-width: 767px) {
  .content_main .block_publi_left,
  .content_main .block_publi_right {
    display: none;
  }
  /*añadir estilos nuevos */
}
@media screen and (max-width: 640px) {
  /*añadir estilos nuevos */
}
@media screen and (max-width: 480px) {
  /*añadir estilos nuevos */
}
@media screen and (max-width: 320px) {
  /*añadir estilos nuevos */
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
