//Estilos al comienzo de styles.css

body{
	
}

div.cont_withou_p, section.content_site, section.block_publi_left, section.block_publi_right{
	padding-right:0;
	padding-left:0;
}

article.history_magic_ng img.magic_image_about{
	width:100%;

}

//.col-xs-1, .col-sm-1, .col-md-1, .col-lg-17