//Estilos al comienzo de styles.css

body{
	background-color:skyblue;
	color:white;
}

div.cont_withou_p, section.content_site, section.block_publi_left, section.block_publi_right{
	padding-right:0;
	padding-left:0;
}


//.col-xs-1, .col-sm-1, .col-md-1, .col-lg-17