//Variables principales
@basefont:Arial;
@basecolor: black;
@basefontcolor:white;
@secondfont: Tangerine; 

//mixins 



//controla el ancho de las columans: publicidad y contenido centro.
@wd_publi_right:8%;
@wd_publi_left:8%;
@wd_total_publi:@wd_publi_right + @wd_publi_left;
@wd_total: @wd_total_publi - 100% ;

// uso para sombra

//@shejex = eje Y sombre
//@shejey = eje X sombra
//@shdegradado = difuminado de la sombra.
//@shcolor = color sombra

.sombra(@shejex: 5px, @shejey: 10px, @shdegradado: 10px, @shcolor: green){
	-webkit-box-shadow:@shejex @shejey  @shdegradado @shcolor;
	-moz-box-shadow:@shejex @shejey  @shdegradado @shcolor;
	-ms-box-shadow:@shejex @shejey  @shdegradado @shcolor;
	-o-box-shadow:@shejex @shejey  @shdegradado @shcolor;
	box-shadow:@shejex @shejey  @shdegradado @shcolor;

}

.rounde (@x: 5px, @y: 20px) {
  -webkit-border-radius: @x @y;
  -moz-border-radius: @x @y;
  -ms-border-radius: @x @y;
  -o-border-radius: @x @y;
  border-radius: @x @y;
}

.flexdisplay(@flexdis: flex){
  -webkit-display: @flexdis;
  -moz-display: @flexdis;
  -ms-display: @flexdis;
  -o-display: @flexdis;
  display: @flexdis;
}


.flexdir(@flex_dir: row){
  -webkit-flex-direction:@flex_dir;
  -moz-flex-direction:@flex_dir;
  -ms-flex-direction:@flex_dir;
  -o-flex-direction:@flex_dir;
  flex-direction:@flex_dir;
}


.fondoGradient() {
  text-align:center; 
  background-color: #F4FA58; /*Navegadores que no aceptan el gradiente de fondo*/
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F4FA58), to(#FF0000)); /* Chrome, Safari versiones más antiguas */
  background-image: -webkit-linear-gradient(top, #F4FA58, #FF0000); /* Chrome, Safari versiones relativamente modernas */
  background-image:    -moz-linear-gradient(top, #F4FA58, #FF0000); /* Firefox versiones relativamente modernas*/
  background-image:      -o-linear-gradient(top, #F4FA58, #FF0000); /* Opera versiones relativamente modernas*/
  background-image:         linear-gradient(to bottom, #F4FA58, #FF0000); /* Chrome, Firefox, IE, Opera versiones actuales */

}










// condiciones

//para que funcione correctamente -
//debe haber un funciones con el codigo, en este caso, 
// "si" y otra para "no".

@estado: si ;

//Funcion en caso "si"
.my-optional-style() when (@estado = si)  {
  body {
    background-color:black;
    color: white;
  }


}

//funcion en caso "no"
.my-optional-style() when (@estado = no)  {
  button {
    color: black;
    background-color:white;
  }


}




 